.main {
    position: fixed; /* Hiển thị modal trên tất cả nội dung */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Nền mờ đen */
    z-index: 1000; /* Đảm bảo modal nằm trên các thành phần khác */
}

.modalContent {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 450px; /* Giảm kích thước cho phù hợp */
    max-width: 90%;
    animation: slideIn 0.3s ease-out; /* Thêm hiệu ứng xuất hiện */
}

h3 {
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background: #f9f9f9;
}

input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background: #f9f9f9;
}

.btns {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.btn {
    border: 1px solid #dee2e6;
    padding: 20px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    background: none;
    transition: 0.2s;
    margin: 0 auto;
    cursor: pointer;
}

.btn:hover {
    background: #e9ecef;
}
